<div class="row-fluid">

  <div class="span9">
  
    <% @products.each_with_index do |product, index| %>
      
      <% if index % 3 == 0 %>
      <div class="row-fluid">
      <% end %>

        <div class="span4 product-image">
          <%= image_tag "no_product_image.jpg", {:class => "product-image"} %>
          
          <div class="product-details">
            <strong><%= link_to product.name, product %></strong> (<%= link_to "Edit", edit_product_path(product) %>)
            <br>
            <span class="label"><%= product.reviews.count > 0 ? pluralize(product.reviews.count, "review") : "" %></span>
            <strong><%= number_to_currency(product.price) %></strong>
            <br>
            <button class="btn btn-primary btn-small" type="button">Add to Cart</button>
          </div>
          
        </div>
      
      <% if (index - 2) % 3 == 0 %>
      </div>
      <% end %>

    <% end %>

  </div>

  <div class="span3 cart-container">

    <%= render "cart" %>

  </div>

</div>


<%= link_to 'New Product', new_product_path %>
