<p id="notice"><%= notice %></p>

<div class="row-fluid">

  <div class="span8">
  
    <div class="row-fluid">
    
      <div class="span6 product-container-card">
        <% if !@product.image_url.nil? && @product.image_url != "" %>
          <%= image_tag @product.image_url, {:class => "product-image-detail"} %>
        <% else %>
          <%= image_tag "no_product_image.jpg", {:class => "product-image-detail"} %>
        <% end %>
        <h2><%= @product.name %></h2>
        <p><%= @product.body %></p>

      </div>
    
      <div class="span6 product-container-card">

        <div class="product-detail-container">
          <h3 class="price"><%= number_to_currency(@product.price) %></h3>
          
          <% if @product.in_cart? %>
            <p><%= @product.name %> is in your basket.</p>
          <% else %>
            <%= button_to 'Add to Cart', add_to_cart_path(@product.id), method: :put, :class => "btn btn-primary btn-medium" %>
          <% end %>

          <%= link_to "Edit #{@product.name}", edit_product_path(@product), :class => "edit-product-link btn btn-medium" %>
        </div>
        
      </div>

    </div>

    <div class="row-fluid">
      <div class="span6 product-container-card">

        <% if @reviews.count > 0 %>
          <p class="rainbow-short">
            <% @product.average_rating.to_i.times do %>
              ★
            <% end %>
          </p>
          <span class="label"><%= @reviews.count > 0 ? pluralize(@reviews.count, "review") : "" %></span>
          <span class="label">average <%= number_with_precision(@product.average_rating, :precision => 1) %></span>
          <% @reviews.each do |review| %>
            <p class="review">
              <p class="rainbow-short">
                <% review.rating.to_i.times do %>
                  ★
                <% end %>
              </p>
              <p>
                <%= review.body %>
              </p>
            </p>
          <% end %>

        <% else %>

          <p>No reviews yet!</p>

        <% end %>

        <p class="review" style="padding-top: 10px;">
          <%= link_to "Write a Review for #{@product.name}", new_review_path(:product_id => @product.id) %>
        </p>

      </div>
    </div>

  </div>

  <div class="span4 cart-container">

    <%= render "cart" %>

  </div>

</div>



