<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :rating %><br />
    <%= f.text_field :rating %>
  </div>
  <!--
    <%= f.label :product_id %><br />
    <%= f.number_field :product_id %>
  -->

  <div class="field">
    <% if params[:product_id].present? %>
      <h3>Adding to <%= @product_name %></h3>
      <input type="hidden" name="review[product_id]" value="<%= params[:product_id] %>">
    <% elsif !@review.product_id.nil? %>
      <h3>Adding to <%= @review.product.name %></h3>
      <input type="hidden" name="review[product_id]" value="<%= @review.product.id %>">
    <% else %>
      <h1>Warning! No associated product will be saved with this Review.</h1>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>