<!DOCTYPE html>
<html lang="en">
<head>
  <title>Store</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

   <!-- NetDNA Hosted Bootstrap -->
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
  <style type="text/css">
    body {
      background: rgb(220,220,220);
    }
    .cart-container {
      background: #eee;
      min-height: 192px !important;
      box-shadow: 1px 1px 2px rgba(0,0,0,.7);
      padding: 10px 15px;
    }
    .cart-container td.product-name {
      width: auto;
      font-weight: bold;
    }
    .cart-container th.cart-total {
      border-top: 1px solid #333;
    }
    .cart-container table form.button_to {
      margin: 0;
    }
    .rainbow {
      background-image:-webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
      color:transparent;
      -webkit-background-clip: text;
    }
    .rainbow-short {
      background-image:-webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.30, #f2f), color-stop(0.6, #22f), color-stop(0.9, #2ff), color-stop(1, #2f2));
      color:transparent;
      -webkit-background-clip: text;   
    }
  </style>

</head>
<body>

<div class="container-fluid">
  <div class="row-fluid">
    
    <div class="span12">
      <header>
        <h1 class="rainbow">'Na Store</h1>
        <nav>
          <ul class="nav nav-pills">
            <li class="active">
              <%= link_to "All Products", products_path %>
            </li>
            <!-- <li><a href="#">...</a></li>
            <li><a href="#">...</a></li> -->
          </ul>
        </nav>
              
      </header>
      <%= yield %>
    </div>

  </div>
</div>

</body>
</html>
